body{
    background-color: antiquewhite;
    padding: 3px;
}
.button{
    display: flex;
}
.heading{
    background-color: rgb(226, 120, 44);
    color:indigo;
    text-align: center;
}
.division{
    display: flex;
    justify-content: space-between;
    /* border: 3cm;
    border-width: 4px; */
}